@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  color: #ffffff;
  font-size: 12px;
}
#cards {
  position: relative;
  width: 100%;
}
.card {
  width: 26rem;
  border-radius: 7px;
  background-color: transparent;
  margin: 10px 10px;

  cursor: pointer;
  overflow: hidden;
}

.card-img-overlay {
  height: 110px;
  padding: 1.25rem;
  padding-bottom: 0;
}
.dl {
  display: inline-block;
}

.divider {
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.card-body {
  background-color: #30333d;
  padding: 1rem 0;
}

.Send-img {
  width: 50%;
}
.wind-text {
  margin-bottom: 0;
}
.m-l-20 {
  margin-left: 5px;
}
.m-b-0 {
  margin-bottom: 0px;
}
h3.temp {
  margin-bottom: 0;
}
.desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.card-title {
  padding-bottom: 0;
}
.city {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 0;
}
.temp {
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  font-weight: 500;
}
a:link {
  text-decoration: none;
}
.row {
  margin-left: 4px;
  margin-right: -38px;
}
.background--0 {
  background-color: #2196f3;
}
.background--1 {
  background-color: #00bcd4;
}
.background--2 {
  background-color: #4caf50;
}
.background--3 {
  background-color: #ffeb3b;
}
.background--4 {
  background-color: #ff9800;
}
.background--5 {
  background-color: #ff9800;
}
.background--6 {
  background-color: #673ab7;
}
.background--7 {
  background-color: #3f51b5;
}

@media only screen and (min-width: 260px) and (max-width: 450px) {
  .col-6,
  .col-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card {
    width: 80%;
    /* margin-left: 15px;
    margin-right: 15px; */
  }
  .city,
  .temp {
    font-size: 24px;
  }
  .card-title {
    padding-bottom: 0;
  }
  .card-body {
    padding: 10px 2px;
  }
  .desc {
    margin-top: -20px;
  }
  .row {
    margin-left: 0;
  }
  .col-4 {
    padding-right: 0;
  }
  .Send-img {
    width: 40%;
  }
  p {
    line-height: 1.4;
  }
  p.id {
    margin-bottom: 2px;
    font-size: 10px;
  }
  p.text-right {
    font-size: 10px;
    margin-bottom: 0;
  }
  .min-padding {
    padding-left: 0;
  }
}
.cross_icon {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  /* cursor: pointer; */
  z-index: 10;
}
@media screen and (max-width: 450px) {
  .card {
    width: 20rem;
  }
}
@media screen and (max-width: 340px) {
  .card {
    width: 17rem;
  }
  .city,
  .temp {
    font-size: 19px;
  }
  p,
  .desc {
    font-size: 12px;
  }
}
