.wether-header {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.user-name p {
  margin-bottom: 0;
  font-size: 16px;
}
.weather-headline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-text {
  margin: 0 0 0 10px;
  font-size: 26px;

  color: white;
}
.weather-icon {
  width: 50px;
}
.logout-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
@media screen and (max-width: 525px) {
  .weather-icon {
    width: 40px;
  }
  .weather-text {
    margin: 0 0 0 5px;
    font-size: 20px;
  }
  .logout-btn {
    padding: 8px 16px;
    margin: 4px 2px;
    font-size: 14px;
  }
  .user-name p {
    font-size: 14px;
  }
}
