.footer-container {
  width: 100%;

  background: #30333d;
  color: #f1f1f1;
  margin-top: auto;
}

.footer-content {
  text-align: center;
}
.footer-content h3 {
  margin: 25px auto;
  font-size: 16px;
  font-weight: lighter;
  text-transform: capitalize;
  line-height: 3rem;
  opacity: 0.502;
  letter-spacing: 2px;
}
