.city-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 855px) {
  .city-grid {
    grid-template-columns: 1fr;
  }
}
